@import 'colors';
@import 'variables';

.bodycolor {
    background-color: $primary-color;
}

.turnContainer {
    position: absolute;
    background-color: $secondary;
    width: 96px;
    height: 40px;
    margin-left: 40%;
    border-radius: 12px;
    text-transform: uppercase;
    color: white;
}

.restartButton {
    position: absolute;
    color: $soft-grey;
    margin-left: 85%;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.playerTurn{
    width: 16px;
    height: 16px;
    margin-top: 10%;
    margin-left: 17% ;
}

.allTheCases {
    display: grid;
    grid-template-areas: "a a a";
    grid-gap: 15px;
    grid-template-rows: repeat(3, 96px);
    margin-top: 27%;
    margin-left: 2%;
}

.case {
    width: 96px;
    height: 96px;
    background-color: $secondary;
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px #10212A;
}


@mixin basic-attributes{
    text-transform: uppercase;
    width: 96px;
    height: 64px;
    border-radius: 10px;
    margin-top: 10%;
    text-align: center;
}
.xWinCounter{
    position: absolute;
    @include basic-attributes();
    background-color: $blue-sky;
    margin-left: 2%;
}

.tieCounter{
    position: absolute;
    @include basic-attributes();
    background-color: $soft-grey;
    margin-left: 34%;
}

.oWinCounter{
    @include basic-attributes();
    display: flex;
    background-color: $orange;
    margin-left: 70%;
}