@import 'colors';


.bodycolor {
    background-color: $primary-color;
    // margin-left: 10%;
    // margin-top: 30%;
    // align-items: center;
    // display: block;
    text-align: center;
}

.logo {
    margin-top: 30%;
    margin-left: 5%;
}

.homeScreenContainer {
    margin: 5%;
    top: 35%;
    background: $secondary;
    box-shadow: inset 0px -8px 0px $secondary;
    border-radius: 15px;
    width: 327px;
    height: 205px;
}

.firstMarkText {
    Width: 191px;
    Height: 20px;
    text-align: center;
    Font-family: Outfit;
    Font-style: Bold;
    Font-size: 16px Line;
    height: 20px Line;
    // height: 100%;
    text-align: center;
    text-align: Top Letter;
    color : $soft-grey;
    text-transform: uppercase;
}